.kg-game-board
{
    font-family: monospace;
    font-size: 20px;
    height: 500px;
    background-color: gray !important; /* Yuck, !important... one more reason why bootstrap can be a pain... */
    line-height: 15px;
}

.start-button {
    margin-top: 200px;
}